<template>
    <div class="align-items-center" :class="{'col': asColumn}">
        <span class="invalid-feedback d-block" v-if="isValid">
            <span class="d-block">
                <span class="form-error-icon badge badge-danger text-uppercase">Ошибка</span>
                <span class="form-error-message">{{ error }}</span>
            </span>
        </span>
        <label class="sr-only" v-if="label">{{ label }}</label>
        <div class="input-group mb-2">
            <div class="input-group-prepend" v-if="showIcon && label">
                <div class="input-group-text">
                    <font-awesome-icon :icon="faIcon" v-if="faIcon"/>
                    <template v-else>{{ label }}</template>
                </div>
            </div>
            <input :type="type"
                   :name="name"
                   :class="inputClass"
                   :placeholder="placeholder"
                   :value="value"
                   @input="updateSelf($event.target.value)"
                   class="form-control">
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                default: '',
                type: String
            },
            form: {
                default: null,
                type: Object
            },
            type: {
                default: 'text',
                type: String
            },
            label: {
                default: null,
                type: String
            },
            placeholder: {
                default: '',
                // type: String|Number
            },
            faIcon: {
                default: null,
                type: String
            },
            error: {
                default: '',
                type: String
            },
            showIcon: {
                default: true,
                type: Boolean
            },
            asColumn: {
                default: false,
                type: Boolean
            }
        },
        data() {
            return {
                value: ''
            }
        },
        computed: {
            isValid: function () {
                return this.error.length > 0;
            },

            inputClass: function () {
                return this.isValid > 0 ? 'is-invalid' : '';
            }
        },
        methods: {
            updateSelf(value) {
                this.$emit('input', value)
            }
        }
    }
</script>

