<template>
    <div>
        <multiselect></multiselect>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: {
            Multiselect
        },
        data: function () {
            return {
                options: {}
            }
        },
    }
</script>