//
// Colors
// --------------------------------------------------


// Social network colors
// -------------------------

$social-behance:      #0274f9;
$social-pinterest:    #cb2028;
$social-linkedin:     #0072b5;
$social-stumbleupon:  #ed4a13;
$social-googleplus:   #3f85f4;
$social-facebook:     #2f4b93;
$social-twitter:      #00bdef;
$social-vk:           #36638e;
$social-mailru:       #014b88;

// Social Colors

$facebook:       #3b5998 !default;
$twitter:        #00aced !default;
$linkedin:       #4875b4 !default;
$google-plus:    #d34836 !default;
$flickr:         #ff0084 !default;
$tumblr:         #32506d !default;
$xing:           #026466 !default;
$github:         #4183c4 !default;
$html5:          #e34f26 !default;
$openid:         #f78c40 !default;
$odnoklassniki:  #f7931e !default;
$stack-overflow: #fe7a15 !default;
$youtube:        #b00 !default;
$css3:           #0170ba !default;
$dribbble:       #ea4c89 !default;
$google-plus:    #bb4b39 !default;
$instagram:      #517fa4 !default;
$pinterest:      #cb2027 !default;
$vk:             #45668e !default;
$yahoo:          #400191 !default;
$behance:        #1769ff !default;
$dropbox:        #007ee5 !default;
$reddit:         #ff4500 !default;
$spotify:        #7ab800 !default;
$vine:           #00bf8f !default;
$foursquare:     #1073af !default;
$vimeo:          #aad450 !default;
$whatsapp:       #25d366 !default;
$telegram:       #588dc6 !default;
$skype:          #00aff0 !default;
