// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant-withShadow($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
    top: 0;
    color: color-yiq($hover-background);
    @include gradient-bg($background);
    border-color: $border;
    @include box-shadow(0 5px 23px 0 transparentize($background, .2));
    transition: all .2s ease-in-out;

    *::-ms-backdrop, &::after {
        display: none;
    }

    &:hover {
        @include box-shadow(0 5px 40px 0 transparentize($background, .2));

    }


    @include hover {
        color: color-yiq($hover-background);
        //box-shadow: 0 10px 5px 0 rgba($background, 0.75);

    }

    &:focus,
    &.focus {
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
            box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
        } @else {
            box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
        }
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        color: color-yiq($background);
        background-color: $background;
        border-color: $border;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: color-yiq($active-background);
        background-color: $active-background;
        @if $enable-gradients {
            background-image: none; // Remove the gradient for the pressed/active state
        }
        border-color: $active-border;

        &:focus {
            // Avoid using mixin so we can pass custom focus shadow properly
            @if $enable-shadows {
                box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba($border, .5);
            } @else {
                box-shadow: 0 0 0 $btn-focus-width rgba($border, .5);
            }
        }
    }
}