<template>
    <div>
        <form-rooms></form-rooms>
    </div>
</template>

<script>
    import FormRooms from './../Forms/Rooms'

    export default {
        components: {
            FormRooms
        }
    }
</script>
