.breadcrumb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: $white;
    @include box-shadow(0 0px 20px 0 transparentize($black, .8));

    a{
        color: $text-color;
    }

    .item {
        white-space: nowrap;
    }

    .fas{
        font-size: .7em;
        color: $gray-600;
    }

    .breadcrumb-item + .breadcrumb-item{
        &::before {
            display: none !important;
        }
    }
}