.card {
    $self: &;
    $overlay-bg-color: $black;
    $overlay-bg-text: $white;

    &-noBorder{
        border: none;
    }

    &_icon{
        position: absolute;
        background-color: $yellow;
        border-radius: 50%;
        font-size: 26px;
        margin: 0 auto;
        text-align: center;
        z-index: 9999;
        width: 50px;
        left: 0;
        right: 0;
        padding: 5px 0;
        margin-top: -25px;
        color: $white;
        @include box-shadow(0 5px 23px 0 transparentize($yellow, .2));
    }

    &-group {
        .card {
            border-radius: 0;
            border: none;
            &:first-child{
                border-radius: 6px 0 0 6px;
            }
            &:last-child{
                border-radius: 0 6px 6px 0;
            }
        }
        &-withShadow{
            @include box-shadow(0px 7px 10px 0px rgba(0, 0, 0, 0.2))
        }
    }

    &-contentItem{
        border: none;
        border-radius: 0;

        a{
            color: $blue;
        }

        &_image{
            position: relative;
            @include box-shadow(0 20px 36px 0 rgba(0,0,0,.2));

            &_publishedDate{
                position: absolute;
                bottom: 0;
                left: 0;
                background: $black;
                width: 100%;
                color: $white;
                font-size: .8rem;
                padding: .5rem 1rem;
            }
        }

        &_title{
            display: block;
            margin: 1rem;
        }
    }

    &-primary{
        background: $primary !important;

        .btn-rounded{
            border: 1px solid $white;
        }

        .btn-primary{
            color: $white;
        }

        .card-text{
            font-size: 1.125rem;
            font-family: "Roboto Condensed";
            font-weight: bold;
        }

        .card-footer{
            padding: 1rem;
            background: $primary !important;
            border: none;
        }
    }

    &-hovered {
        top: 0;
        @include box-shadow(0 1px 2px 0 rgba(0,0,0,0.14));
        @include transition(.3s);
        &:hover{
            top: -10px;
            @include box-shadow(0 20px 36px 0 rgba(0,0,0,0.2));
        }
    }
    &-withShadow {
        @include box-shadow(0 1px 10px 0 rgba(0,0,0,0.2));
        border: none;
    }

    &-footer{
        &-more{
            margin-top: -35px;
        }

        &-more_img{
            position: absolute;
            margin-top: -40px;
            border: 5px solid $white;
        }
        &-img-rounded{
            width: 55px !important;
            height: 55px !important;
            border-radius: 50%;
        }
    }

    &-body{
        &-textBottom{
            position: relative;
            min-height: 220px;

            .card-text{
                position: absolute;
                bottom: 0;
                padding-bottom: 2rem;
                width: 100%;
                left: 0;
            }
        }
    }

    &-strongShadow{
        .card-heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .6rem 1rem;
            font-family: "Roboto Condensed";
            line-height: 1;
            @include box-shadow(0 5px 10px 0 transparentize($black, .8));

            h4{
                font-size: 1.1rem;
                margin: 0;
                padding: 0;
                font-weight: bold !important;
            }
        }
    }

    &-withImageOverlay {
        overflow: hidden;
        color: $overlay-bg-text;
        border: none;

        img{
            width: 100%;
        }

        .card-img-overlay {
            padding: 0;
            background-size: cover;
        }

        .card-text{
            font-size: .8rem;
            font-family: "Roboto Condensed";
        }

        .card-header,
        .card-footer{
            font-family: "Roboto Condensed";
            z-index: $zindex-fixed + 1;
        }
        .card-footer{
            color: $text-color;
            background: $white;

            &:not(.card-footer-more){
                .card-footer_description{
                    padding-top: 20px;
                    font-size: .8rem;
                }
            }


        }
        .card-body {
            z-index: $zindex-fixed;

            &::before,
            &::after{
                position: absolute;
                content: "";
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
            &::before {
                top: 0;
                background: transparentize($primary, .2);
            }

            &::after{
                height: 50%;
                bottom: 0;
                //@include gradient-vertical(transparentize($primary, 1), $primary);
            }
        }
    }
}
