.product {
    $line: 5;
    $max: 5;

    &_preview {
        &_item {
            position: relative;
            display: flex;
            text-align: right;
            align-items: center;
            justify-content: flex-end;
            padding: .5rem 0;

            &_text {
                flex: 0 0 auto;
                width: auto;
                margin-right: 2em;
                max-width: 50%;
            }
            &_icon {
                display: block;
                flex: 0 0 auto;
                max-width: none;
                border-radius: 50%;
                border: 2px solid $text-color;
                right: 0;
                width: 70px;
                height: 70px;

                .fa-ruble-sign {
                    font-size: 45px;
                    margin: 10px 15px;
                }

                img {
                    height: 100%;
                    width: auto;
                    padding: 10px;
                }
            }

            @for $i from 1 through $max {
                $lines-num: 5;
                $pos: $i % $lines-num;
                $delay: $pos / 5;
                &:nth-child(#{$max}n + #{$i}) {
                    right: #{$delay * 4}rem;
                    //animation-delay: -#{$delay}s;

                    &::after {
                        content: "";
                        width: #{$delay * 4}rem;
                        height: 1px;
                        background: $text-color;
                    }
                }
            }
        }
    }
}