<template>
    <div>
        <modal name="modal-dialog"
               :adaptive="true"
               height="auto"
        >
            <div class="modal-body">
                <keep-alive>
                    <component is="back-call" :action-url="actionUrl" :method="method"></component>
                </keep-alive>
            </div>
        </modal>
    </div>
</template>

<script>
    import BackCall from 'Components/MXTCore/Feedbacks/BackCall'

    export default {
        components: {
            BackCall
        },
        props: [
            'component',
            'attributes',
        ],
        data() {
            return {
                actionUrl: null,
                method: 'post',
            }
        },
        created() {
            window.events.$on('modalDialog:open', (data) => {
                this.actionUrl = data.attributes.apiUrl;
                this.open()
            });
        },
        methods: {
            open() {
                this.$modal.show('modal-dialog');
            },
        },
    }
</script>

<style scoped>
    .v--modal-overlay {
        z-index: 99999999;
    }
</style>
