<template>
    <div>
        <vue-dropzone id="dropzone"
                      ref="dropzone"
                      :options="dropzoneOptions"
                      @vdropzone-success="fileComplete"
                      @vdropzone-error="catchError"
        ></vue-dropzone>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        components: {
            vueDropzone: vue2Dropzone
        },

        props: {
            url: {
                default: '',
                type: String
            },
            fieldName: {
                default: 'file',
                type: String
            },
            maxFilesize: {
                default: 10,
                type: Number
            },
            maxFiles: {
                default: 20,
                type: Number
            }
        },

        data: function () {
            return {
                dropzoneOptions: {},
                errors: {}
            }
        },

        beforeMount() {
            this.dropzoneOptions = {
                url: this.url,
                paramName: this.fieldName,
                thumbnailWidth: 100,
                thumbnailHeight: 100,
                maxFilesize: this.maxFilesize,
                maxFiles: this.maxFiles,
                headers: {
                    'X-CSRF-TOKEN':  document.head.querySelector('meta[name="csrf-token"]').content,
                }
            }
        },

        methods: {
            removeFile(file) {
                this.$refs.dropzone.removeFile(file);
            },

            catchError(file, message, xhr) {

                this.errors = message;

                if (typeof message.message !== 'undefined'){
                    flash(message.message, 'error')
                } else {
                    flash(message, 'error')
                }
            },

            fileComplete(file, xhr, formData){
                this.removeFile(file);

                flash(`${file.name} был загружен`, 'success');
                events.$emit('file-list:update', file, xhr, formData)
            }
        },
    }
</script>

<style lang="scss">
    .dropzone .dz-preview{
        max-height: 100px !important;
    }
</style>
