<template>
    <div>
        <a href="#"
           class="btn btn-block btn-sm goods_buyBtn goods_buyBtn-red"
           @click.prevent="addToCart()"
           v-if="canBuy"
        >
            <i class="fas fa-cart-plus"></i> {{ btnTitle }}
        </a>
        <a href="#"
           class="btn btn-block btn-sm btn-secondary"
           @click.prevent="addToCart()"
           v-else
        >
            Нет в наличии
        </a>
    </div>
</template>

<script>

    import Asset from 'Core/Asset'

    export default {
        props: {
            btnTitle: {
                type: String,
                default: 'Купить'
            },
            size: {
                type: String,
                default: null
            },
            goodsId: {
                type: Number,
                default: null
            },
            canBuy: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            addToCart() {
                Asset.xhrResponseUrl('get', mxtcore.store.state.addToCartUrl + '?goodsId=' + this.goodsId)
                    .then(response => console.log(response));
                // flash('Невозможно добавить в корзину', 'error');
            }
        }
    }
</script>

<style lang="scss">
    /*@import "scss/style";*/
</style>