<template>
    <div>
        <a href="#"
           class="btn btn-block btn-sm goods_buyBtn goods_buyBtn-red"
           @click.prevent="addToCart()"
           v-if="canBuy"
        >
            <i class="fas fa-cart-plus"></i> Купить
        </a>
        <a href="#"
           class="btn btn-block btn-sm btn-secondary"
           @click.prevent="addToCart()"
           v-else
        >
            Нет в наличии
        </a>
    </div>
</template>

<script>
    export default {
        props: {
            goodsId: {
                type: Number,
                default: null
            },
            canBuy: {
                type: Boolean,
                default: false
            }
        },

        methods: {
            addToCart() {
                flash('Невозможно добавить в корзину', 'error');
            }
        }
    }
</script>

<style lang="scss">
    /*@import "scss/style";*/
</style>