<template>
    <div class="tree">
        <div v-if="treeData">
            <draggable :list="treeData"></draggable>
        </div>

        <div v-else>
            Загрузка...
        </div>
    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import Draggable from 'vuedraggable'

    export default {
        components: {
            Draggable
        },

        data() {
            return {
                treeData: {
                    default: null,
                    type: Object
                },
                isLoaded: {
                    default: false,
                    type: Boolean
                }
            }
        },

        props: {
            apiUrl: {
                default: '',
                type: String
            }
        },

        beforeMount() {
            Asset.xhrResponseUrl('get', this.apiUrl)
                .then(response => {
                    this.treeData = response;
                    this.isLoaded = true;
                })
        },

        methods: {}
    }
</script>

<style lang="scss">

</style>
