&_filter {
    &-withTop {
        margin-top: 160px;

        @include media-breakpoint-down(sm) {
            margin-top: 20px;
        }

        @include media-breakpoint-down(md) {
            margin-top: 50px;
        }

        @include media-breakpoint-up(xl) {
            margin-top: 200px;
        }
    }

    &_types {
        background: $white;
    }

    &_categories {

        &-tabs {
            justify-content: space-around;
            border-bottom: 1px solid $primary;
            margin: 0;
            .nav-item {
                flex-grow: 1;
                text-align: center;

                .active {
                    border-bottom: 2px solid $primary;
                }
            }
        }
    }
}