&_show {
    .price {
        font-family: "Roboto Condensed";

        &-small {
            font-size: 1.15rem;
        }
        &-large {
            font-size: 2.25rem;
            font-weight: bolder;
        }

        &-mute {
            color: $gray-600;
        }
    }
}