.realty {
    &_top {
        position: absolute;
        background: url("../../../../images/template/head-image.jpg") no-repeat;
        min-height: 310px;
        width: 100%;
        background-size: 100%;



        &_grrt_btn{
            display: block;
            position: relative;
            margin-top: 2rem;
            text-align: right;
        }
    }

    @import "filter";
    @import "show";
    @import "card";
    @import "summary";
}
