.socialMenu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    &_item {
        display: block;
        padding: 7px;
        font-size: .8rem;
        line-height: 1;
        border-radius: $border-radius-lg;
        margin: .5rem 0rem .5rem .5rem;

        &:hover {
            color: $white;
        }

        &-vk {
            color: $white;
            background-color: $social-vk;
            &:hover {
                color: $white;
                background-color: darken($social-vk, 10);
            }
        }
        &-instagram {
            color: $white;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            &:hover {
                color: darken($white, 10);
            }
        }
        &-facebook {
            background-color: $facebook;
            color: $white;
            padding: 7px 10px;
            &:hover {
                background-color: darken($facebook, 10);
            }
        }

        &-twitter {
            background-color: $twitter;
            color: $white;

            &:hover {
                background-color: darken($twitter, 10);
            }
        }

        &-whatsapp {
            background-color: $whatsapp;
            color: $white;

            &:hover {
                background-color: darken($whatsapp, 10);
            }
        }

        &-telegram {
            background-color: $telegram;
            color: $white;

            &:hover {
                background-color: darken($telegram, 10);
            }
        }

        &-skype {
            background-color: $skype;
            color: $white;

            &:hover {
                background-color: darken($skype, 10);
            }
        }

        &-odnoklassniki{
            background-color: $odnoklassniki;
            color: $white;

            &:hover{
                background-color: darken($odnoklassniki, 10);
            }
        }

        @include transition(.3s);
    }
}

ul.socialMenu {
    margin-left: -40px;
    margin-bottom: 0;
}