<template>
    <div>
        <template v-for="(review, index) in reviews">
            <review-item :item="review"></review-item>
        </template>
    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import ReviewItem from './ReviewItem'

    export default {
        props: {
            sendMethod: {
                default: null,
                type: String
            },
            apiUrl: {
                default: '',
                type: String
            }
        },

        data() {
            return {
                reviews: Object
            }
        },

        components: {
            ReviewItem
        },

        created() {
            events.$on(this.$parent.formName + ':success', this.getReviews());

            this.getReviews();
        },

        methods: {
            addReviews(review){
                return this.reviews.push(review)
            },

            getReviews(){
                Asset.xhrResponseUrl('get', this.apiUrl)
                    .then(response => this.reviews = response)
            }
        }
    }
</script>