<template>
    <div>
        <review-form :action-url="apiUrl"></review-form>
        <hr>
        <review-list :api-url="apiUrl"></review-list>
    </div>
</template>

<script>
    import ReviewForm from './ReviewForm'
    import ReviewList from './ReviewList'

    export default {
        props: {
            sendMethod: {
                default: null,
                type: String
            },
            apiUrl: {
                default: 'post',
                type: String
            }
        },

        data() {
            return {
                formName: 'review'
            }
        },

        components: {
            ReviewForm,
            ReviewList
        },

        created(){

        }
    }

</script>