<template>
    <div>
        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)" v-if="!success">
            <div class="form-row">
                <div class="col-md-6 col-lg-3">
                    <input type="text" name="user_name" class="form-control"
                           :class="form.errors.get('user_name') ? 'is-invalid' : ''"
                           v-model="form.user_name"
                           placeholder="Ваше имя">

                    <small class="form-text text-muted" v-text="form.errors.get('user_name')"></small>
                </div>

                <div class="col-md-6 col-lg-3">
                    <input type="email" name="email" class="form-control"
                           :class="form.errors.get('user_email') ? 'is-invalid' : ''"
                           v-model="form.user_email"
                           placeholder="Ваше email">
                    <small class="form-text text-muted" v-text="form.errors.get('user_email')"></small>
                </div>

                <div class="col-md-6 col-lg-3">
                    <masked-input type="tel" name="user_phone" class="form-control"
                           :class="form.errors.get('user_phone') ? 'is-invalid' : ''"
                           mask="\+\7 (111) 111-11-11"
                           v-model="form.user_phone"
                           placeholder="Ваше номер телефона">
                    </masked-input>
                    <small class="form-text text-muted" v-text="form.errors.get('user_phone')"></small>
                </div>

                <div class="col-md-6 col-lg-3">
                    <star-rating v-model="form.rating"  :star-size="20"></star-rating>
                </div>
            </div>

            <div class="form-group mt-2">
                <textarea name="body" cols="30" class="form-control" rows="3"
                          :class="form.errors.get('body') ? 'is-invalid' : ''"></textarea>
                <small class="form-text text-muted" v-text="form.errors.get('body')"></small>
            </div>

            <div class="form-group row mb-0">
                <div class="col-md-8">
                    <input type="submit" class="btn btn-success" value="Оставить отзыв" :disabled="form.errors.any()">
                </div>
            </div>
        </form>
        <div v-else>
            <div class="alert alert-success">
                Спасибо! Отзыв добавлен и ожидает модерации!
            </div>
        </div>
    </div>
</template>

<script>
    import FormMixin from 'Components/Mixins/FormMixin'
    import Form from 'Core/Form'
    import StarRating from 'vue-star-rating'
    import MaskedInput from 'vue-masked-input'


    export default {
        props: {},

        components: {
            StarRating,
            MaskedInput
        },

        mixins: [
            FormMixin
        ],

        data() {
            return {
                form: new Form({
                    user_name: '',
                    user_email: '',
                    user_phone: '',

                    rating: 0,
                    body: ''
                }),

                authSuccess: false
            }
        },

        created() {
        },

        methods: {},
    }
</script>
