.header {
    &_horizontalMenu {
        background: url("../../../images/template/h-menu_bg.png");
        background-size: 100%;

        &-textLight {
            color: $white;

            .nav-link {
                color: white;
            }
        }
    }
    &_phone {
        position: relative;
        padding-left: 35px;

        &-small{
            font-size: .8rem;
        }

        &-large{
            font-size: 1.31rem;
            font-weight: bold;
        }

        &::before{
            display: block;
            position: absolute;
            content: "";
            top: -5px;
            background: url("../../../images/template/icons/phone.svg");
            width: 30px;
            height: 30px;
        }
    }
}