<template>
    <div class="container py-2">
        <h3>Редактирование файла {{ form.original_name }}</h3>

        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">

            <img :src="'/' + form.path + '/' + form.name" style="max-height: 200px" class="img-fluid">

            <div class="form-group">
                <label for="original_name">Имя файла</label>
                <input id="original_name" name="original_name" type="text"
                       v-model="form.original_name"
                       class="form-control"
                >
            </div>

            <div class="form-group">
                <label for="description">Описание файла</label>
                <textarea id="description" name="description" v-model="form.description" rows="5"
                          class="form-control"></textarea>
            </div>

            <div class="row  my-1">
                <div class="col-md-6">
                    <label class="sr-only" for="published">Включено:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Включено:</div>
                        </div>
                        <select id="published" name="published" v-model="form.enabled" class="form-control">
                            <option value="0">Нет</option>
                            <option value="1">Да</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row my-1" v-for="(attribute, index) in this.form.attribs">
                <div class="col-md-12">
                    <label class="sr-only" :for="attribute">{{ index }}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">{{ index }}</div>
                        </div>
                        <input type="text" class="form-control" :id="index" :name="'attribs[' + index + ']'"
                               v-model="form.attribs[index]">
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-success" value="Сохранить" :disabled="form.errors.any()">

            <a href="#" @click.prevent="cancel" class="btn btn-light">Отменить</a>
            <a href="#" v-if="file.delete" @click.prevent="deleteFile" class="btn btn-danger pull-right">Удалить</a>
        </form>


    </div>
</template>

<script>
    import Asset from 'Core/Asset'
    import Form from 'Core/Form'

    export default {

        props: {
            file: {
                default: null,
                type: Object
            },
            additionalAttributes: {
                default: null,
                // type: Array
            }
        },

        // props: ['file'],

        data() {
            return {
                form: {
                    attribs: {}
                },
                isSuccess: false
            }
        },

        created() {
            this.form = new Form(this.file);

            for (let fileAttrib in this.file.attribs) {
                this.form.attribs[fileAttrib] = this.file.attribs[fileAttrib];
            }

            for (let prop in this.additionalAttributes) {
                this.form.attribs[prop] = this.form.attribs[prop] === null
                    ? this.additionalAttributes[prop]
                    : this.form.attribs[prop];
            }
        },

        mounted() {

        },

        methods: {
            cancel() {
                this.$modal.hide('file-edit');
            },
            deleteFile() {
                console.log(this.file.delete);
                Asset.xhrResponseUrl('delete', this.file.delete)
                    .then((response) => {
                        // events.$emit('file-list:update');
                        this.$modal.hide('file-edit');
                        flash(response.message, 'info');
                    })
            },
            onSubmit() {
                if (this.form.update) {
                    this.form.submit('put', this.form.update)
                        .then((response) => {
                            events.$emit('file-list:update');
                            this.$modal.hide('file-edit');
                        })
                        .catch(errors => {
                            flash(errors.message, 'error')
                        })
                }
            }
        }
    }

</script>