<template>
    <div>
        <div v-if="fileExist === false">
            <upload-files :url="uploadUrl" :max-files="1" :field-name="fieldName"></upload-files>
        </div>
        <div v-else>
            <file-thumbs :url="fileListUrl" :counts-on-row="1"></file-thumbs>
        </div>
    </div>
</template>

<script>
    import Asset            from 'Core/Asset'
    import FileThumbs       from 'Components/Dashboard/FileManager/FileThumbs'
    import UploadFiles      from 'Components/MXTCore/UploadFiles'

    export default {
        components: {
            UploadFiles,
            FileThumbs
        },

        data() {
            return {
                fileExist: false,
            }
        },

        props: {
            uploadUrl: {
                default: null,
                type: String
            },

            fileListUrl: {
                default: null,
                type: String
            },

            fieldName: {
                default: 'photos',
                type: String
            }
        },

        created(){
            events.$on('file-list:update', status => this.fileExist = true);
            events.$on('file-list:delete', status => this.fileExist = false);
        },

        mounted(){
            Asset.xhrResponseUrl('get', this.fileListUrl)
                .then(file => this.fileExist = file.length > 0);
        }

    }
</script>