$section: &;

&_feedback {

    &_body {
        position: relative;
        //background-image: url("./../../images/sections/feedback/bg.jpg");
        background-position: center;
        background-size: cover;
    }
    .feedback_calc_result{
        font-weight: 900;

        span{
            color: $amber_90;
        }
    }
}