$section: &;

&_reviews{
    .card-group{
        align-items: center;
    }

    .card-review{

        &:nth-child(2) {
            @include box-shadow(0 1px 50px 0 rgba(0, 0, 0, 0.2));
            padding: 2rem 0;
            z-index: $zindex-fixed;

        }
        .fa-quote-right{
            display: block;
            margin: 0 auto;
            font-size: 5rem;
            opacity: .2;
        }
    }
}