.section{
    &_title{
        font-weight: normal;
        color: $gray-800;
        text-align: center;
        font-size: 3rem;
        margin: 1rem 0 .5rem 0;

        @include media-breakpoint-down(sm) {
            font-size: 1.8rem;
        }

        &-primary{
            color: $primary;
        }

        &-uppercase{
            text-transform: uppercase;
        }

        &-underline{
            &::after{
                display: block;
                position: absolute;
                background-color: $primary;
                content: '';
                margin: 1rem auto;
                left: 0;
                right: 0;
                width: 40%;
                height: 1px;
            }

            & + .section_description{
                margin-top: 2rem;
            }
        }
    }

    &_icon{
        position: absolute;
        background-color: $yellow;
        border-radius: 50%;
        font-size: 26px;
        margin: 0 auto;
        text-align: center;
        z-index: 9999;
        width: 50px;
        left: 0;
        right: 0;
        padding: 5px 0;
        margin-top: -25px;
        color: $white;
        @include box-shadow(0 5px 23px 0 transparentize($yellow, .2));
    }

    &_description{
        font-weight: 300;
        //font-size: 1.125rem;
        font-family: Roboto;
        color: $gray-600;
    }

    &-gray{
        background-color: $gray-100;
    }

    @import "about";
    @import "consultants";
    @import "reviews";
    //@import "aboutServicesCards";
    //@import "advantagesFiberglass";
    //@import "applicationArea";
    //@import "advantagesWovenMeshFiberglass";
    //@import "feedback";
    //@import "aboutProductsCards";
    //@import "aboutProductsPrice";
    //@import "productCalc";
    //@import "orderLawnLaying";
    //@import "productPhotoGallery";
}
