<template>
    <form class="form">
        <div class="form-row">
            <div class="form-group col-md-auto">
                <label>Расположение</label>
                <select class="form-control select2">
                    <option>Город / район</option>
                    <option value="">Казань</option>
                </select>
            </div>

            <div class="form-group col-md-auto">
                <label>Станция метро</label>
                <select name="" id="" class="form-control select2">
                    <option value="">Авиастроительная</option>
                </select>
            </div>

            <div class="form-group col-md-auto">
                <label for="">Количество комнат</label>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </form>
</template>

<script>
    export default {

    }
</script>