&_gallery{
    display: flex;

    swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 100%;
    }
    .gallery-thumbs {
        width: 150px;
        height: 460px;

        .swiper-slide {
            height: 100%;
            width: 200px;

            opacity: 0.4;
        }
    }
    .gallery-thumbs .swiper-slide-thumb-active {
        opacity: 1;
    }
}
