<template>
    <div>
        <form @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
            <div class="form-row">

                <div class="form-group col-md-4">
                    <input type="text"
                           v-model="form.name"
                           :class="inputClass('name')"
                           placeholder="Ваше имя*">
                    <small class="form-text text-muted" v-text="form.errors.get('name')"></small>
                </div>

                <div class="form-group col-md-4">
                    <masked-input v-model="form.phone"
                                  mask="\+\7 (111) 111-11-11"
                                  :class="inputClass('name')"
                                  type="tel"
                                  placeholder="Номер телефона*"/>
                    <small class="form-text text-muted" v-text="form.errors.get('phone')"></small>
                </div>
                <div class="form-group col-md-4">
                    <input type="text"
                           v-model="form.email"
                           :class="inputClass('email')"
                           placeholder="Ваш email*">
                    <small class="form-text text-muted" v-text="form.errors.get('email')"></small>
                </div>
            </div>

            <div class="form-group">
                <textarea v-model="form.message" :class="inputClass('message')" rows="3"></textarea>
                <small class="form-text text-muted" v-text="form.errors.get('message')"></small>
            </div>

            <small>
                Даю своё согласие на обработку моих персональных данных на условиях и для целей, определенных Политикой конфиденциальности.
            </small>

            <input type="submit" class="btn btn-primary-withShadow btn-rounded btn-block mt-2"
                   :disabled="form.errors.any()"
                   value="Отправить">
        </form>
    </div>
</template>

<script>
    import Form from 'Core/Form'
    import FormMixin from 'Components/Mixins/FormMixin'
    import MaskedInput from 'vue-masked-input'

    export default {
        mixins: [
            FormMixin,
        ],

        components: {
            MaskedInput
        },

        data() {
            return {
                form: new Form({
                    name: '',
                    phone: '',
                    message: ''
                }),
            }
        },

        methods: {
            inputClass(field) {
                let $class = 'form-control';

                if (this.form.errors.get(field))
                    return `${$class} is-invalid`;

                return $class;
            },
        }
    }

</script>